@import "./variables.scss";
@import "./config-styles.scss";
@import "./panel-intro.scss";
@import "./progress-bar.scss";
@import "./panel-one.scss";
@import "./panel-two.scss";
@import "./panel-three.scss";
@import "./panel-four.scss";
@import "./panel-five.scss";
@import "./panel-six.scss";
@import "./panel-seven.scss";
/************************************************
Project Styles
************************************************/
.fixed-title {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: $font-text;
  letter-spacing: 2px;
  z-index: 100;
  font-size: $font-size-sm;
}
