/**********************************************
Panel Five - Styles
**********************************************/
.panel-five {
  margin-top: $spacing-lg;
  position: relative;

  .panel-five-wrapper {
    .panel-five-img-wrapper {
      width: 90%;
      height: 100vh;
      margin-inline: auto;

      .panel-five-img {
        @include full-cover;
      }
    }
  }

  .panel-five-title {
    @include title-style;
    text-align: center;
    line-height: 1;
    margin-top: $spacing-lg;
  }
}

@media screen and (min-width: 1024px) {
  .panel-five {
    margin-top: 0;

    .panel-five-wrapper {
      .panel-five-img-wrapper {
        width: 200%;
      }
    }
  }

  .panel-five-title {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: max-content;
    @include title-style;
    font-size: 8rem;
  }
}
