/**********************************************
Panel Two - Styles
**********************************************/
.panel-two {
  margin-top: $spacing-lg;
  position: relative;
  height: max-content;

  .panel-two-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-inline: $spacing-xs;
    max-width: 400px;
    margin-inline: auto;
  }

  .panel-two-img-wrapper {
    height: 100%;

    .panel-two-img {
      @include full-cover;
    }

    .panel-two-img-caption {
      @include text-style;
    }
  }

  .panel-two-wrapper-3,
  .panel-two-wrapper-4 {
    margin-top: $spacing-lg;
  }
}

@media screen and (min-width: 1024px) {
  .panel-two {
    height: 100vh;
    width: 100vw;
    position: relative;

    .panel-two-wrapper {
      position: absolute;
      left: 200px;
      top: 150px;
      gap: 20px;
    }

    .panel-two-img-wrapper {
      .panel-two-img-caption {
        opacity: 0;
        position: absolute;
      }

      .caption-active {
        font-size: $font-size-reg;
        @include center-positioned;
        color: $color-light;
        font-weight: bold;
        opacity: 1;
        animation: text-focus-in 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;

        @keyframes text-focus-in {
          0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
          }
          100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
          }
        }
      }
    }
    .panel-two-wrapper-3,
    .panel-two-wrapper-4 {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .panel-two {
    .panel-two-wrapper {
      left: 350px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .panel-two {
    .panel-two-wrapper {
      max-width: 500px;
      left: 500px;

      gap: 40px;
    }
  }
}
