/**********************************************
Panel One - Styles
**********************************************/
.panel-one {
  .panel-one-img-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;

    .panel-one-img {
      @include full-cover;
    }

    .panel-one-img-caption {
      @include center-positioned;
      @include img-title-style;
      text-align: center;
    }
  }

  @media screen and (min-width: 1024px) {
    .panel-one-img-wrapper {
      .panel-one-img {
      }

      .panel-one-img-caption {
      }
    }
  }
}
