/**********************************************
Panel Five - Styles
**********************************************/
.panel-seven {
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  position: relative;

  .panel-seven-title {
    @include title-style;
    text-align: center;
    line-height: 1;
    margin-top: $spacing-lg;
  }

  .panel-seven-img-dog {
    width: 200px;
  }

  .panel-seven-img-cat {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .panel-seven {
    .panel-seven-title {
      font-size: 8rem;
    }

    .panel-seven-img-dog {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .panel-seven-img-cat {
      position: absolute;
      right: 0;
      top: 0;
    }

    .jello {
      animation: jello-vertical 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }

    @keyframes jello-vertical {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
      }
      65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .panel-seven {
    .panel-seven-img-dog {
      left: 20%;
      width: 300px;
    }

    .panel-seven-img-cat {
      width: 250px;
      right: 15%;
    }
  }
}
