/**********************************************
Panel Four - Styles
**********************************************/
.panel-four {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $spacing-lg;

  .panel-four-cherry-img {
    width: 200px;
  }

  .panel-four-title {
    @include title-style;
    text-align: center;
  }

  .panel-four-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .panel-four-img-wrapper {
      width: 100%;

      .panel-four-img {
        @include full-cover;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .panel-four {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    margin-left: 5rem;

    .panel-four-cherry-img {
      position: absolute;
      top: -25%;
      z-index: 10;
    }

    .panel-four-title {
      @include center-positioned;
    }

    .panel-four-wrapper {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .panel-four {
    margin-left: -80rem;

    .panel-four-cherry-img {
      @include center-positioned;
      left: 38%;
      top: -3%;
      opacity: 0;
    }

    .panel-four-title {
      left: 38%;
    }

    .panel-four-wrapper {
      width: 700px;
      position: absolute;
      left: 20%;
    }
  }
}
