/***************************************
Panel Outro - Styles
****************************************/
.panel-outro {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-lg;

  .panel-outro-puzzle-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
    width: 300px;
    padding-inline: 10px;
    gap: 5px;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: $spacing-xs;
    position: relative;

    .panel-outro-img-wrapper:nth-child(1) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    .panel-outro-img-wrapper:nth-child(2) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .panel-outro-img-wrapper:nth-child(3) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }

    .panel-outro-img-wrapper:nth-child(4) {
      .panel-outro-img {
        width: 100%;
        height: 150%;
        transform: scale(1.2);
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .panel-outro-puzzle-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
    width: 300px;
    padding-inline: 10px;
    gap: 5px;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: $spacing-xs;
    .panel-outro-img-wrapper:nth-child(1) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        transform: scale(1.3);
        object-fit: cover;
        object-position: top;
      }
    }

    .panel-outro-img-wrapper:nth-child(2) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    .panel-outro-img-wrapper:nth-child(3) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .panel-outro-img-wrapper:nth-child(4) {
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
  }

  .panel-outro-puzzle-wrapper-3 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    height: 200px;
    margin-inline: auto;
    gap: 5px;

    margin-bottom: 7rem;

    .panel-outro-img-wrapper:nth-child(1) {
      height: 60px;
      overflow: hidden;
      .panel-outro-img {
        width: 110%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 20%;
      }
    }

    .panel-outro-img-wrapper:nth-child(2) {
      height: 60px;
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    .panel-outro-img-wrapper:nth-child(3) {
      height: 60px;
      .panel-outro-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 80%;
      }
    }

    .panel-outro-img-wrapper:nth-child(4) {
      height: 107px;
      overflow: hidden;
      .panel-outro-img {
        width: 120%;
        height: 160%;
        object-fit: cover;
        object-position: right;
      }
    }
  }

  .panel-outro-puzzle-wrapper-4 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    height: 200px;
    margin-inline: auto;
    gap: 5px;
    margin-bottom: 7rem;

    .panel-outro-img-wrapper:nth-child(1) {
      height: 60px;
      overflow: hidden;
      .panel-outro-img {
        width: 110%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 35%;
      }
    }

    .panel-outro-img-wrapper:nth-child(2) {
      height: 60px;
      overflow: hidden;
      .panel-outro-img {
        width: 110%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 75%;
      }
    }

    .panel-outro-img-wrapper:nth-child(3) {
      height: 60px;
      overflow: hidden;
      .panel-outro-img {
        width: 110%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 90%;
      }
    }

    .panel-outro-img-wrapper:nth-child(4) {
      height: 107px;
      overflow: hidden;
      .panel-outro-img {
        width: 120%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 90%;
      }
    }
  }

  .panel-outro-puzzle-wrapper-5 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    height: 300px;
    margin-inline: auto;
    gap: 5px;

    .panel-outro-img-wrapper:nth-child(1) {
      overflow: hidden;
      position: relative;
      .panel-outro-img {
        width: 100%;
        height: 200%;
        object-fit: cover;
        object-position: top left;
      }

      .panel-outro-img-caption {
        @include img-title-style;
        font-size: 3rem;
        @include center-positioned;
      }
    }

    .panel-outro-img-wrapper:nth-child(2) {
      overflow: hidden;
      position: relative;
      .panel-outro-img {
        width: 100%;
        height: 190%;
        object-fit: cover;
        object-position: top right;
      }

      .panel-outro-img-caption {
        @include img-title-style;
        font-size: 3rem;
        @include center-positioned;
      }
    }

    .panel-outro-img-wrapper:nth-child(3) {
      overflow: hidden;
      position: relative;
      .panel-outro-img {
        width: 260%;
        height: 100%;
        object-fit: cover;
        object-position: bottom left;
      }

      .panel-outro-img-caption {
        @include img-title-style;
        font-size: 3rem;
        @include center-positioned;
      }
    }

    .panel-outro-img-wrapper:nth-child(4) {
      overflow: hidden;
      position: relative;
      .panel-outro-img {
        width: 260%;
        height: 110%;
        object-fit: cover;
        object-position: bottom;
      }

      .panel-outro-img-caption {
        @include img-title-style;
        font-size: 3rem;
        @include center-positioned;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .panel-outro {
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    margin-bottom: $spacing-lg;

    .panel-outro-puzzle-wrapper-5 {
      width: 90%;
      margin-bottom: $spacing-lg;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
}

@media screen and (min-width: 1024px) {
  .panel-outro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    overflow: hidden;

    .panel-outro-puzzle-wrapper-5 {
      width: 500px;
      grid-column: span 4;

      .panel-outro-img-wrapper:nth-child(1) {
        overflow: hidden;
        .panel-outro-img {
          width: 180%;
          height: 110%;
          object-fit: cover;
          object-position: 50% 30%;
        }
      }

      .panel-outro-img-wrapper:nth-child(2) {
        overflow: hidden;
        .panel-outro-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 1%;
        }
      }

      .panel-outro-img-wrapper:nth-child(3) {
        overflow: hidden;
        .panel-outro-img {
          width: 130%;
          height: 110%;
          object-fit: cover;
          object-position: bottom left;
        }
      }

      .panel-outro-img-wrapper:nth-child(4) {
        overflow: hidden;
        .panel-outro-img {
          width: 180%;
          height: 100%;
          object-fit: cover;
          object-position: bottom;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .panel-outro {
    .panel-outro-puzzle-wrapper-5 {
      width: 400px;
      margin-bottom: 0;
    }
  }
}
