/*********************************************************
Variables
*********************************************************/

// Fonts
$font-titles: "Oswald";
$font-text: "Cabin";

// Colors
$color-light: #eef7ff;
$color-dark-light: #322c2b;
$color-dark-bold: #151515;

// Spacing
$spacing-xs: 10px;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

// Letter Spacing
$letter-spacing: 3px;

// Font Sizes
$font-size-sm: 1rem;
$font-size-reg: 1.5rem;
$font-size-lg: 2rem;
$font-size-title: 4rem;

// Mixins
@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin title-style {
  font-size: $font-size-title;
  font-family: $font-titles;
  color: transparent;
  -webkit-text-stroke: 1px $color-dark-bold;
}

@mixin img-title-style {
  font-size: 6rem;
  font-family: $font-titles;
  color: $color-light;
  font-weight: bold;
  line-height: 1;
}

@mixin center-positioned {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
