/*********************************************************
Variables
*********************************************************/

// Fonts
$font-titles: "Abril Fatface", cursive;
$font-text: "Open Sans", sans-serif;

// Colors
$color-light: #eef7ff;
$color-dark-light: #322c2b;
$color-dark-bold: #151515;

// Spacing
$spacing-xs: 10px;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

// Letter Spacing
$letter-spacing: 3px;

// Font Sizes
$font-size-reg: 1.5rem;
$font-size-lg: 2rem;
$font-size-title: 5rem;
